In [1]:
import time

import pandas as pd
import requests
from tqdm import tqdm

In [2]:
usernames = ["Fro116"]

In [3]:
def get_friend_df(json):
    # turn the json response into a dataframe
    usernames = []
    for item in response.json()["friends"]:
        usernames.append(item["username"])
    return pd.DataFrame({"friends": usernames})

In [18]:
friend_lists = []

max_items_per_page = 300  # property of the API
for username in tqdm(usernames):
    more_pages = True
    page = 1
    friends = []
    while more_pages:
        time.sleep(5)  # Jikan requires a minimum rate limit of 1 request per 4 secs
        response = requests.get(
            f"https://api.jikan.moe/v3/user/{username}/friends/{page}"
        )
        page_df = get_friend_df(response.json())
        friends.append(page_df)
        page += 1
        if len(page_df) < max_items_per_page:
            more_pages = False
    friend_df = pd.concat(friends)
    friend_df["username"] = username
    friend_lists.append(friend_df)

100%|██████████| 122/122 [13:33<00:00,  6.67s/it]

In [19]:
friends = pd.concat(friend_lists)

In [20]:
all_users = set(friends['friends']) | set(friends['username'])

In [21]:
usernames = list(all_users)
print(len(usernames))

4815

In [22]:
friends

           friends         username
0            mpfei  hourglassstorms
1         fukisora  hourglassstorms
2   animequeen1012  hourglassstorms
0          Stardew           Sugar-
1        Burakchef           Sugar-
..             ...              ...
15       Teejee666         2crazy4u
16     bleachman99         2crazy4u
17   Mymaknaepuppy         2crazy4u
18         taichoo         2crazy4u
19   SasukeForever         2crazy4u

[6406 rows x 2 columns]